@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    background-color: rgb(28, 45, 66);
}
.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
    height: 400px;
}
.sidebar {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 20%;
    align-items: flex-start;
    border-right: 2px solid;
    font-family: 1.3rem;
    color: rgb(37, 102, 94);

}
.content {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}
.content ul  {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}
.content ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(37, 102, 94);
}
.content ul li a:hover {
    color:rgb(44, 172, 157);
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-size: cover;
}
 .header h1 {
     margin: 10px 25px;
     font-size: bold;
     font-size: 30px;
     color: black;
     background-color: rgb(64, 180, 180);
 }
 .header nav {
     margin: 5px 0;
     width: 50%;
 }
 .header a {
     text-decoration: none;
 }
 .header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   align-items: center;
    list-style: none;
    
 }
 .header nav ul li a {
     font-size: 1.3rem;
     color: rgb(64, 180, 180);
 }
 .steps {
     align-items: stretch;
     width: 100%;
     flex-wrap: wrap;
     justify-content: center;
     display: flex;
     margin: 15px auto;
 }
 
 .content p {
     color: rgb(37, 102, 94);
     margin-top: 20px;
 }
 .content img {
     height: 200px;
     border-radius: 20px;

 }
 
 .image {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     position: relative;
     width: 100%;
 }

.content .image {
    opacity: 0.8;
    transition: opacity .5s ease-in-out;
}

.content .image:hover {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

 .image img {
     height: 700px;
     width: 100%;
     border: 5px solid;
     border-color: rgb(64, 180, 180);
 }
 .title {
     padding-left: 6px;
     margin: 5px;
     position: absolute;
     bottom: 25px;
     width: 200px;
     left: 0;
     height: 30px;
     color: black;
     background-color: rgb(64, 180, 180);
 }
 .title h3 {
     font-weight: bold;
     font-size: 1rem;
 }
 .title h3 {
    margin: 6px;
    padding-left: 5px;
    position: absolute;
    height: 50px;
    width: 200px;
 }
 .project img {
     height: 300px;
     width: 100%;
     border: 5px solid;
     border-color: rgb(64, 180, 180);

 }
 .project {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 50%;
position: relative;
 }

 @media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 425px) {

}

@media only screen and (max-width: 768px) {
    .content ul li a {
        font-size: 1rem;
       } 
}
@media only screen and (max-width: 768px) {
    .header nav ul li a {
        font-size: 1rem;
    }

}
@media only screen and (max-width: 425px) {
    header nav {
        width: 100%;
   }

}
@media only screen and (max-width: 425px) {
    .content ul li a {
        font-size: 6px;
        word-spacing: 5px;
    }
}
@media only screen and (max-width: 425px) {
    .hero {
    
    }
}