@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
:root {
    ---primary-color: rgb(64, 180, 180);


}
body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    background-color: rgb(28, 45, 66);
}
.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
    height: 300px;
}
.sidebar {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 20%;
    align-items: flex-start;
    border-right: 2px solid;
    font-family: 1.3rem;

}
.content {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}
.content p {
    color: ;
}
.content ul  {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

 