@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    background-color: rgb(28, 45, 66);
}
.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
    height: 300px;
}
.sidebar {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 20%;
    align-items: flex-start;
    border-right: 2px solid;
    font-family: 1.3rem;

}
.content {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}
.content p {
}
.content ul  {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.content ul li a {
    text-decoration: none;
    font-size: 1.2rem;
}
 .header h1 {
     margin: 10px 25px;
     font-size: bold;
     font-size: 30px;
 }
 .header nav {
     margin: 3px 0;
 }
 .header a {
     text-decoration: none;
 }
 .header nav ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     list-style: none;
 }
 .header nav ul li a {
     font-size: 1.3rem;
 }
 .image {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     position: relative;
     width: 100%;
 }
 .image img {
     height: 500px;
     width: 100%;
     margin: 5px;
     border: 5px solid
 }
 .project-info {
    margin: 6px;
    padding-left: 5px;
    position: absolute;
    height: 50px;
    width: 200px;
 }
 .project-info h3 {
     font-weight: lighter;
     font-size: 1.2rem;
 }
 .project-info h3 {
     width: 100%;
 }
